<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.assorted">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name="com.assorted.di.AssortedApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_assorted_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_assorted_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assorted"
        tools:replace="label"
        tools:targetApi="31">
        <activity
            android:name="com.assorted.presentation.vibrate.VibrateActivity"
            android:exported="false">
            <meta-data
                android:name="andro id.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.assorted.presentation.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>